<div class="block-section">
    <div class="block-content">
        <div>
            <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
                <div class="text-600 text-sm mb-3"><span>Published </span><span class="font-bold">November 30,
                        2022</span><span> by </span><span class="font-bold">Mubashir Ansari</span></div>
                <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                    Privacy Policy</div>
                <div class="line-height-3 text-xl text-700 mb-5">We at Apna Home want you to understand 
                    what information we collect, and how we use and share it. That's why we encourage you
                     to read our Privacy Policy. This helps you use  in the way that's right for you.</div>
                     <div class="line-height-3 text-lg text-700 mb-4">At Apna Home, we value the privacy of our users and are committed to protecting their personal information. This Privacy Policy explains how we collect, use, and disclose the information obtained through Facebook login when you use our web app, Apna Home.</div>
                <!-- <div class="mb-5"><span class="p-tag p-component mr-2"><span
                            class="p-tag-value">Built-in/Secure</span><span></span></span><span
                        class="p-tag p-component p-tag-success mr-2"><span
                            class="p-tag-value">Latest Technology</span><span></span></span><span
                        class="p-tag p-component p-tag-warning"><span
                            class="p-tag-value">Fast Growing</span><span></span></span></div>
               
                <blockquote class="line-height-3 text-xl text-600 mb-4 py-0 mx-0 px-4">“In short, GPU.js is a JavaScript
                    acceleration library that can be used for general-purpose computations on GPUs using JavaScript. It
                    supports browsers, Node.js and TypeScript.”</blockquote>
                <div class="line-height-3 text-lg text-700 mb-4">Convallis tellus id interdum velit laoreet id donec
                    ultrices. Lacus sed viverra tellus in hac habitasse platea dictumst. Ultricies tristique nulla
                    aliquet enim. Nunc scelerisque viverra mauris in aliquam sem fringilla. Laculis urna id volutpat
                    lacus laoreet.</div> -->
                <!-- <ul class="mb-4 text-lg ml-6 p-0">
                    <li class="mb-3">Nunc sed velit dignissim sodales ut.</li>
                    <li class="mb-3">Lorem mollis aliquam ut porttitor. </li>
                    <li>Urna nec tincidunt praesent semper feugiat nibh sed.</li>
                </ul> -->
                <div class="text-2xl text-900 mb-4">Information We Collect:</div>
                <div class="line-height-3 text-lg text-700 mb-4">When you choose to log in to Apna Home using Facebook login, we may collect the following information from your Facebook profile:
                    <ul class="mb-4 text-lg ml-6 p-0">
                        <li class="mb-3">  User Name: We collect your name as it appears on your Facebook profile.</li>
                        <li class="mb-3">Contact Information: We may collect your contact information, such as your email address or phone number, if you have provided it in your Facebook account settings. </li>
                        <li> Profile URL: We may collect the URL of your Facebook profile.</li>
                    </ul>
                   </div>
                <div class="text-2xl text-900 mb-4">Data Retention:</div>
                <div class="line-height-3 text-lg text-700 mb-4">We retain your personal information obtained through Facebook login only for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by law. We take reasonable measures to ensure the security and integrity of the collected information.
                   </div>
               <div class="text-2xl text-900 mb-4">Your Choices and Rights:</div>
                <div class="line-height-3 text-lg text-700 mb-4">You have the right to review, update, and delete the personal information we have collected from your Facebook profile. You can do so by accessing your account settings on the Apna Home web app or by contacting us directly.    
                   </div>
              <div class="text-2xl text-900 mb-4">Updates to this Privacy Policy:</div>
                <div class="line-height-3 text-lg text-700 mb-4">We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We encourage you to review this Privacy Policy periodically.
                   </div>
            </div>
        </div>
    </div>
</div>
<div class="p-grid">

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-3 font-bold text-3xl">
            <span class="text-900">One Product, </span>
            <span class="text-blue-600">Many Solutions</span>
        </div>
        <div class="text-700 mb-6">Handpicked projects for you.</div>
        <div class="grid">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-desktop text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Built for Developers</div>
                <span class="text-700 line-height-3">Easy listing property from mobile.</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-lock text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
                <span class="text-700 line-height-3">Data is encrypted by algorithm.</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Easy to Deal</div>
                <span class="text-700 line-height-3">Shortlist with extensive data without visit .</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-globe text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Fast & Global Support</div>
                <span class="text-700 line-height-3">Based on very recent technology.</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-github text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
                <span class="text-700 line-height-3">Free to use as and use as per requirement. </span>
            </div>
            <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-shield text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Trusted Security</div>
                <span class="text-700 line-height-3">You are no longer concerned with broker calls.</span>
            </div>
        </div>
    </div>
</div>