<p-menubar [model]="items">
    <ng-template pTemplate="start">
       
       
    </ng-template>
    <ng-template pTemplate="start">
        <app-sidebar></app-sidebar>
    </ng-template>
    
    <ng-template pTemplate="end">
       
     <p-tag icon="pi pi-user" class="p-mr-2" value="{{uname}}" severity="success"></p-tag> 
        <!-- <button pButton pRipple type="button" icon="pi pi-search" class="p-button-outlined p-button-rounded"></button> -->
        <button pButton pRipple type="button" (click)="fnLogout()" icon="pi pi-user" label="Logout" class="p-button-outlined p-button-rounded"></button> 
        <!-- <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-outlined p-button-rounded"></button>
         <button pButton pRipple type="button" icon="pi pi-wallet" class="p-button-outlined p-button-rounded"></button>     -->
    
         <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Select a City" optionLabel="name"
         [showClear]="true"></p-dropdown> -->
         
    </ng-template>
</p-menubar>
<div class="p-grid p-d-flex p-jc-center">
    <div class="p-col-12 p-text-center">
        
        <p-tabMenu [model]="menuitem" [activeItem]="activeItem"></p-tabMenu>
    </div>
</div>