:host::ng-deep{
    .p-tabmenu .p-tabmenu-nav {
       
        justify-content: center;
        border: 1px solid #dee2e6;
        border-width: 0 0 2px 0;
    }
    .p-menubar .p-menubar-custom, .p-menubar .p-menubar-end{
        display: flex;
        align-items: center;
    }
}
.head{
    font-size: 10px;
}