

<div class="p-grid p-mt-5">
    <div class="p-card p-col-11 p-md-6 p-lg-4 p-mx-auto p-px-4">
        <!-- <div class="p-card p-col-10 "> -->
            <form name="loginForm" [formGroup]="logForm">
                <h5 class="text-2xl p-text-center">welcome, please log in </h5>
                <!-- <p class="p-text-muted  p-text-center"></p> -->
                <div class="p-inputgroup p-mb-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText name="username" class="form-control" formControlName="username"
                        placeholder="Username" autocomplete="username" required>
                </div>
                <div class="p-inputgroup p-mb-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password"  pInputText name="password" class="form-control"
                    formControlName="password" placeholder="Password" autocomplete="current-password" required>
                </div>
                <div class="p-text-center">
                    <button type="button" [disabled]="logForm.invalid" (click)="loginUser()" pButton class="p-button-danger">Login</button>
                </div>
                <div class="p-d-flex p-jc-between">
                    <p-checkbox label="Remember Me"></p-checkbox> 
                    <button type="button" pButton label="Register" routerLink="/register"  class="p-button-text p-button-outlined"></button>
                </div>
                <div class="p-text-center p-my-3">OR
                    <div class="p-d-flex p-jc-between">
                        <!-- [disabled]="true"  -->
                        <button icon="pi pi-facebook" (click)="openFacebook()" type="button" pButton label="Sign in with facebook" class="p-button-secondary" ></button>
                        <button icon="pi pi-google" (click)="openGoogle()" type="button" pButton label="Sign in with Google"  class="p-button-primary p-ml-2"></button>
                    </div>
                </div>
                
            </form>
       
            
        <!-- </div> -->
    </div>
    

    
</div>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>