<div class="p-grid p-ai-center">
    <div class="p-col-8">
        <h4 class="p-text-center text-3xl font-medium">Sell or Rent your Property For Free</h4>
    </div>
    <div class="p-col-4">
        <p-button (click)="searchNow()" icon="pi pi-search-plus" label="Search"></p-button>
    </div>
</div>


    <div class="p-grid p-mx-auto p-px-3">
    <div class="p-col-12 p-md-12 p-lg-11 p-mx-auto p-mt-3 p-mb-3">

        <!-- <p-dataView #dv [value]="propArr" [paginator]="true" [rows]="5" filterBy="name"
      layout="grid">
      <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
              <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div class="col-12">
            <div class="product-list-item">
                <img (click)="onClick($event)" height="100" width="140" [src]="product.img" [alt]="product.name"/>
                <div class="product-list-detail">
                    <div class="product-name">{{product.name}}</div>
                    <div class="product-description">{{product.addres.city}}</div>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.addres.state}}</span>
                </div>
                <div class="product-list-action">
                    <span class="product-price">₹{{product.price}}</span>
                    <p-button icon="pi pi-shopping-cart"></p-button>
                    
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div class="col-12 md:col-4">
            <div class="product-grid-item card">
                <div class="product-grid-item-top">
                    <div>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{product.addres.state}}</span>
                    </div>
                    
                </div>
                <div class="product-grid-item-content">
                    <img (click)="onClick($event)" height="80" width="100" [src]="product.img" [alt]="product.name"/>
                    <div class="product-name">{{product.name}}</div>
                    <div class="product-description">{{product.addres.city}}</div>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <div class="product-grid-item-bottom">
                    <span class="product-price">₹{{product.price}}</span>
                    <p-button icon="pi pi-shopping-cart"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
  </p-dataView> -->
    <div class="surface ng-star-inserted">
        <div class="surface">
            <div class="grid">
                <ng-container *ngFor="let product of propArr">
                <div class="col-12 md:col-6 xl:col-4 p-3">
                    <div class="surface-card shadow-2 border-round p-4">
                        <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                            <img [src]="product.img" class="mb-3 w-9 h-5rem" (click)="onClick($event)"><span
                                class="text-xl text-900 font-medium mb-2">{{ product.name == "" ?'-':product.name}}</span><span
                                class="text-600 font-medium mb-3">{{product.addres.city}}</span>
                                <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                                <span
                                class="text-2xl text-800 block mb-3 font-semibold">₹{{product.price}}</span>
                          
                        </div>
                        <div class="flex pt-3 justify-content-between align-items-center"><button pbutton="" pripple=""
                                icon="pi pi-shopping-cart" label="Buy Now"
                                class="p-element p-ripple p-button-text p-button p-component"><span
                                    class="p-button-icon p-button-icon-left pi pi-shopping-cart"
                                    aria-hidden="true"></span><span class="p-button-label">Buy Now</span><span
                                    class="p-ink"></span></button><button pbutton="" pripple="" icon="pi pi-heart"
                                class="p-element p-ripple p-button-text p-button-secondary p-button p-component p-button-icon-only"><span
                                    class="p-button-icon pi pi-heart" aria-hidden="true"></span><span
                                    class="p-ink"></span></button></div>
                    </div>
                </div>
                </ng-container>
            </div>
        </div>
    </div>
  
</div>  
</div>
<div class="p-grid p-ai-center p-mb-4 p-mt-4">
    <!-- <h5 class="p-text-center">MONTHLY SUMMARY</h5> -->
    <div class="p-col-12 p-md-6">
        
           
            <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
        
    </div>
    <div class="p-col-12 p-md-6">

        <p-chart type="radar" [data]="radardata" [options]="radarchartOptions" [style]="{'width': '40%'}"></p-chart>

    </div>
</div>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" position="bottom-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
 



 



<p-dialog header="Search Property" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [modal]="true" [style]="{width: '60vw'}" [(visible)]="searchprop">
    <p-tabView>
        <p-tabPanel leftIcon="pi pi-book" header="Buy" [selected]="true">
            <h4 class="p-text-center">Buy Property</h4>
            <form [formGroup]="buyForm" class="p-d-flex p-jc-center">
            <div class="grid p-fluid p-d-flex p-jc-center">
                <div class="p-col-12 p-md-8 p-ai-center p-as-center">
                    <div class="p-inputgroup p-ai-center p-as-center">
                        <!-- <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span> -->
                        <p-dropdown placeholder="Select Cities" required [options]="city" formControlName="selectcities" optionValue="id" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        
                        <button pButton pRipple [disabled]="buyForm.invalid" type="button" label="Search" class="p-button-raised p-button-help p-button-text"></button>
                    </div>
                </div>
                <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                    <div class="p-inputgroup p-jc-around">
                        <p-radioButton required label="Full House" value="full" formControlName="propertytype"></p-radioButton>
                        <p-radioButton required value="land" label="Land/Plot" formControlName="propertytype"></p-radioButton>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
              
                    <div class="p-inputgroup">
                     
                        <p-dropdown placeholder="Select Type" required [options]="bhkarr" formControlName="bhktype" optionValue="value" optionLabel="type"></p-dropdown>  
                    </div>
                </div> 
                <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                    
                    <div class="p-inputgroup p-jc-around">
                        
                        <p-radioButton required  label="Ready" value="ready" formControlName="propertystatus"></p-radioButton>
                        <p-radioButton required  value="underconstruction" label="Under-Contruction" formControlName="propertystatus"></p-radioButton> 
                    </div>
                </div>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Sell"  leftIcon="pi pi-bookmark">
            <h4 class="p-text-center">Rent Property</h4>
            <form [formGroup]="rentForm" class="p-d-flex p-jc-center">
                <div class="grid p-fluid p-d-flex p-jc-center">
                    <div class="p-col-12 p-md-8 p-ai-center p-as-center">
                        <div class="p-inputgroup p-ai-center p-as-center">
                            <!-- <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span> -->
                            <p-dropdown placeholder="Select Cities" required [options]="city" formControlName="rselectcities" optionValue="id" optionLabel="name"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            
                            <button pButton pRipple [disabled]="rentForm.invalid" type="button" label="Search" class="p-button-raised p-button-help p-button-text"></button>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                        <div class="p-inputgroup p-jc-around">
                            <p-radioButton required  label="Full House" value="full" formControlName="rpropertytype"></p-radioButton>
                            <p-radioButton required  value="land" label="Land/Plot" formControlName="rpropertytype"></p-radioButton>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4">
                  
                        <div class="p-inputgroup">
                         
                            <p-dropdown placeholder="Select Type" required [options]="bhkarr" formControlName="rbhktype" optionValue="value" optionLabel="type"></p-dropdown>  
                        </div>
                    </div> 
                    <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                        
                        <div class="p-inputgroup p-jc-around">
                            
                            <p-radioButton required  label="Ready" value="ready" formControlName="rpropertystatus"></p-radioButton>
                            <p-radioButton required  value="underconstruction" label="Under-Contruction" formControlName="rpropertystatus"></p-radioButton> 
                        </div>
                    </div>
                    </div>
                </form>
    
        </p-tabPanel>
        <p-tabPanel header="Commercial" leftIcon="pi pi-briefcase">
            <h4 class="p-text-center">Commercial Property</h4>
            <form [formGroup]="comForm" class="p-d-flex p-jc-center">
            <div class="grid p-fluid p-d-flex p-jc-center">
                <div class="p-col-12 p-md-8 p-ai-center p-as-center">
                    <div class="p-inputgroup p-ai-center p-as-center">
                        <!-- <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span> -->
                        <p-dropdown placeholder="Select Cities" required [options]="city" formControlName="cselectcities" optionValue="id" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        
                        <button pButton pRipple [disabled]="comForm.invalid" type="button" label="Search" class="p-button-raised p-button-help p-button-text"></button>
                    </div>
                </div>
                <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                    <div class="p-inputgroup p-jc-around">
                        <p-radioButton required  label="Full House" value="full" formControlName="cpropertytype"></p-radioButton>
                        <p-radioButton required  value="land" label="Land/Plot" formControlName="cpropertytype"></p-radioButton>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
              
                    <div class="p-inputgroup">
                     
                        <p-dropdown placeholder="Select Type" required [options]="bhkarr" formControlName="cbhktype" optionValue="value" optionLabel="type"></p-dropdown>  
                    </div>
                </div> 
                <div class="p-col-12 p-md-4 p-ai-center p-as-center">
                    
                    <div class="p-inputgroup p-jc-around">
                        
                        <p-radioButton required  label="Ready" value="ready" formControlName="cpropertystatus"></p-radioButton>
                        <p-radioButton required  value="underconstruction" label="Under-Contruction" formControlName="cpropertystatus"></p-radioButton> 
                    </div>
                </div>
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>
</p-dialog>

<p-dialog [(visible)]="viewImage" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vwpx'}" header="Property Images" [modal]="true" styleClass="p-fluid">

    <img
    src="{{imgSrc}}"
    width="500"     

    style="cursor:pointer;max-heigth:50%;"
    class="modal-hover-opacity"
  />
</p-dialog>

<p-dialog [(visible)]="postProperty" [style]="{width: '60vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" header="Property Details" [modal]="true" styleClass="p-fluid">
   <!-- <form name="propertyadd" #propertyadd="ngForm" novalidate="" (ngSubmit)="saveproperty(propertyadd)"> -->
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="propObject.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !propObject.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">State</label>
            <input id="description" pInputTextarea [(ngModel)]="propObject.addres.state" required rows="3" cols="20"/>
        </div> 
        <div class="p-field">
            <label for="description">City</label>
            <input id="description" pInputTextarea [(ngModel)]="propObject.addres.city" required rows="3" cols="20"/>
        </div>
         <div class="p-field">
            <label for="description">Pincode</label>
            <input id="description" pInputTextarea [(ngModel)]="propObject.addres.pincode" required rows="3" cols="20"/>
        </div>
         <div class="p-field">
            <label for="description">Address</label>
            <textarea id="description" pInputTextarea [(ngModel)]="propObject.addres.add" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="propObject.price" mode="currency" currency="INR" locale="en-IN" [minFractionDigits]="2"></p-inputNumber>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="postProperty=false"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit" (click)="saveproperty()"></button>
    </ng-template>

</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
